.header {
  width: 100%;
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
    span {
      color: white;
      margin: 0 25px;
      user-select: none;
      font-weight: bold;
    }
  }
}
.body-wrapper {
  // margin-top: 50px;
}
