<div class="wrapper">
  <h1>Active Yield Fund Monitoring (Matic Mainnet)</h1>
  <!-- <button (click)="connectWallet()"> Connect Wallet</button> -->
  <div class="cards">
    <div class="card">
      <a
        href="https://explorer-mainnet.maticvigil.com/address/0xDE762D1c39dD3362C9401398935148D204bb1813"
        target="_blank"
      >
        <h2>FarmBossUSDC</h2>
      </a>
      <div class="item">
        <h4>USDC Balance:</h4>
        <h3 class="right">{{ fbUSDC_Balance.usdc }}</h3>
      </div>
      <div class="item">
        <a href="https://polygon.curve.fi/aave" target="_blank">
          <h4>CurveFinance Strategy:</h4>
        </a>
        <h3 class="right" *ngIf="fbUSDC_Balance.totalValue > 0">
          {{
            (fbUSDC_Balance.amGaugeUSDC / fbUSDC_Balance.totalValue) * 100
              | number: "1.2-2"
          }}%
        </h3>
        <h3 class="right" *ngIf="fbUSDC_Balance.totalValue === 0">0%</h3>
      </div>
      <div class="item">
        <h4>Curve AAVE Gauge Balance:</h4>
        <h3 class="right">{{ fbUSDC_Balance.amGaugeUSDC }}</h3>
      </div>
      <div class="item pink">
        <h4>Curve Virtual Price:</h4>
        <h3 class="right">
          {{ fbUSDC_Balance.crvVirtualPrice | number: "1.18-18" }}
        </h3>
      </div>

      <div class="item">
        <h4>WMATIC Balance(Unclaimed):</h4>
        <h3 class="right">{{ fbUSDC_Balance.unclaimedWMatic }}</h3>
      </div>
      <div class="item">
        <h4>Total Value:</h4>
        <h2 class="right">
          {{ fbUSDC_Balance.totalValue.toLocaleString() }} USD
        </h2>
      </div>
      <div class="item">
        <h4>Total Value(Unclaimed):</h4>
        <h2 class="right">
          {{ fbUSDC_Balance.unclaimedTotalValue.toLocaleString() }} USD
        </h2>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="treasury_card card">
      <a
        href="https://explorer-mainnet.maticvigil.com/address/0x8De755d4B198a1b1b79CE22239Bc83FfF7c73553/transactions"
        target="_blank"
      >
        <h2>FarmTreasuryUSDC</h2>
      </a>
      <div class="item">
        <h4>USDC Balance:</h4>
        <h3 class="right">{{ ftUSDC_Balance.usdc }}</h3>
      </div>
      <div class="item">
        <h3 class="right" *ngIf="ftUSDC_Balance.aum > 0">
          {{
            (ftUSDC_Balance.usdc / ftUSDC_Balance.aum) * 100 | number: "1.2-2"
          }}%
        </h3>
        <h3 class="right" *ngIf="ftUSDC_Balance.aum === 0">0%</h3>
      </div>
      <div class="item">
        <h4>AUM Balance:</h4>
        <h3 class="right">{{ ftUSDC_Balance.aum }}</h3>
      </div>
    </div>
  </div>
</div>
